html 
    head 
        include html/head
    body
        include html/header
        main
            sections 
                include html/blocks/slider
        
        include html/footer 
        script(src="js/app.min.js")
        